body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    color: lime;
    font-family: 'Courier New', monospace;
}

#clock {
    font-size: 60px;
    letter-spacing: 2px;
}
