*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;           
}

.box{
    height: 500px;
    width: 500px;

    background: rgba(255, 255, 255, 0.06);
    border: 2px solid #00ffff;
    border-radius: 14px;
    box-shadow:
        0 15px 30px rgba(0, 0, 0, 0.8),
        0 0 25px rgba(0, 255, 255, 0.6);
    transform: translateY(-10px);
}
h1{
    color:rgba(0, 255, 255, 0.6) ;
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.6);
    word-spacing: 5px;
}
#increment{
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: rgba(0, 255, 255, 0.6);
    color: black;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 180px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.6);
}
#increment:hover{
    background: rgba(0, 255, 255, 0.8);
}
